#!/usr/bin/env bash

export GOPATH="${HOME}/.go"
export GOROOT="$(brew --prefix golang)/libexec"
export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"
test -d "${GOPATH}" || mkdir "${GOPATH}"
test -d "${GOPATH}/src/github.com" || mkdir -p "${GOPATH}/src/github.com"
test -d "${GOPATH}/src/bitbucket.org" || mkdir -p "${GOPATH}/src/bitbucket.org"

export DEV_ENVPATH=~/code/work
export DEFAULT_DEV_ENV=maritimeoptima
export GPG_TTY=$(tty)

export $SQUARESPACE_WEBSITE="sheep-rhino-ms3x"
